<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Paste</title>
    <!-- <script src="script.js" defer></script> -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="{{url_for('static', filename='script.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <header class="column">
        <h1>hello there</h1>
    </header>
    <div class="row" id="imgs">
        <img class="img" id="img" src="" alt="img" >
        <img class="img" id="img-response" src="" alt="img-response" >
    </div>
</body>
</html>