<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Paste</title>
    <!-- <script src="script.js" defer></script> -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="{{url_for('static', filename='script.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <header class="column">
        <h1>Image Cropper</h1>
    </header>
    <!-- Before Upload -->
    <div class="before-upload">
        <h3>Paste the screenshot to crop.</h3>
    </div>
    <!-- After Upload -->
    <div class="hidden row after-upload" id="imgs">
        <div>
            <h3>Original Image</h3>
            <img class="img" id="img" src="" alt="img" >
        </div>
        <div>
            <h3>Server Response</h3>
            <img class="img" id="img-response" src="" alt="img-response" >
        </div>
    </div>
</body>
</html>